*.mod.c
*.cmd
*.mod
*.ko
*.o
*.so
*.a
*.cache.mk
*.img
*.tar.gz
*.log
*.o.ur-detected
*.o.ur-safe
*.o.d
*.data
*.bc
*.bin

build/
Kbuild

modules.order
Module.symvers
.vscode/
.thinlto-cache
__pycache__

tools/executor
tools/executor_32
tools/output
tools/kflattest
tools/uflattest

recipes/output

tests/tests_list.h
tests/kflat_tests_list.h
tests/uflat_tests_list.h
tests/tests_list_gen.sh
