*.mod.c
*.cmd
*.mod
*.ko
*.o
*.so
*.a
*.cache.mk
*.img
*.tar.gz
*.log

modules.order
Module.symvers
.vscode/
.thinlto-cache
__pycache__

tools/executor
tools/executor_32
tools/output
tools/kflattest

recipes/output

tests/tests_list.h
